<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      /tasks/all - Display all tasks <br>
      /tasks/create-task - Create a single task <br>
      /tasks/update-status/:id/:status - Update task status (complete/incomplete/deferred) by its id <br>
      /tasks/delete-one-task/:id - Delete one task by its id <br>
      /tasks/delete-many - Delete multiple tasks matching specified query parameters <br>
      /tasks//create-many - Batch-insert multiple tasks <br>

    </p>
  </body>
</html>
